@charset "utf-8";

.table {
  .date { width: 180px; }
  .distance { width: 90px; }
  .time { width: 80px; }
  .pace { width: 70px; }
  .layoff { width: 70px; }
  .route { width: 70px; }
}

.google-map {
  height: 500px;
  margin: 0 auto;
  background: gray;
}
